.Article {
  background-color: rgb(227, 30, 227);
  font-weight: bolder;
  .container {
    .desc {
      h1 {
        margin-top: 50px;
        text-align: center;
        color: #936cd2;

        font-size: 50px;
      }
    }
    .contact {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 30px;
        color: #936cd2;
      }
      h1 {
        margin-top: 50px;
        max-width: 550px;
        color: #936cd2;

        font-size: 50px;
      }
    }
  }
}
.background {
  background-color: rgb(196, 196, 196);
  height: 100vh;
  transition: all 2s ease-out;
}

@media screen and (max-width: 500px) {
 .Article{
  .container{
    .desc{
      h1{
        font-size: 25px;
      }
    }
  }
  .contact{
    p{font-size: 15px;}
    h1{
      font-size: 20px;
    }
  }
 }
}
