.Welcome {
  height: 100vh;
  background-color: #936cd2;
  
  .nav {
    position: fixed;
    right: 15px;

    cursor: pointer;
    text-decoration: none;
  }

  h1 {
    color: white;
    padding: 20px;
  }
  .banner {
    display: flex;

    .container {
      display: flex;
      position: relative;
      top: -60px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1;
      height: 100vh;
      width: 100%;

      h1 {
        font-size: 110px;
        padding: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .container2 {
      display: flex;
      position: relative;
      top: 65px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1;
      height: 100vh;
      width: 100%;
      h1 {
        font-size: 110px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  
}
.backgroundChange{

  transition:  5s ease-in-out;
  position: relative;
  background-size: contain;
  background-image: url('https://images.pexels.com/photos/13850240/pexels-photo-13850240.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}



