.Welcome {
  height: 100vh;
  background-color: #228cce;
  overflow-y: hidden;

  .nav {
    position: fixed;
    right: 15px;

    cursor: pointer;

    text-decoration: none;
  }

  h1 {
    color: rgb(230, 120, 120);
    padding: 20px;
  }
  .banner {
    display: flex;
    .circle {
      position: absolute;
      top: 80px;
      right: 180px;
      width: 120px;
      height: 120px;
      background-color: white;
      border-radius: 50%;
      cursor:pointer;
      z-index: 15;
      p {
        position: absolute;
        
        font-size: 30px;
        left:25px;
        top:45px;
     
        color: rgb(230, 120, 120);
        transform: rotate(50deg);
       
        }
       
   &:hover{
    p{
      transform: rotate(1100deg);
      transition: all 1s ease-in-out;
     
    }
 
   }
    }
    video {
      position: absolute;
      top: 0;
      left: 0px;
    }

    .container {
      display: flex;
      position: relative;
      top: -60px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex: 1;
      height: 100vh;
      width: 100%;
    }
    .portrait {
      padding: 20px;
    }
    h1 {
      font-size: 110px;
      padding: 20px;
      color: rgb(230, 120, 120);
      &:hover {
        cursor: pointer;
      }
    }
  }
  .container2 {
    display: flex;
    position: relative;
    top: 65px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    height: 100vh;
    width: 100%;

    h1 {
      font-size: 110px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.backgroundChange {
  transition: all 1s ease-in-out;
  position: relative;
  background-color: rgb(71, 237, 146);
  .span {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 90%;
    width: 60%;
    height: 80%;
    
    background-image: url("https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
  }
  .circle{
    display: none;
  }
  .container2 {
    h1 {
      opacity: 0;
     
    }
  }
  .container {
    .Commission {
      opacity: 0;
    }
  }
}
.backgroundProject {
  transition: all 1s ease-in-out;
  position: relative;
  background-color: rgb(237, 193, 71);
  .span {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 100%;
    width: 60%;
    height: 80%;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/859195/pexels-photo-859195.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  }
  .circle{
    display: none;
  }
  .container {
    .portrait {
      h1 {
        opacity: 0;
      }
    }
  }
  .container2 {
    h1 {
      opacity: 0;
    }
  }
}

.backgroundContact {
  transition: all 1s ease-in-out;
  position: relative;
  background-color: rgb(213, 213, 36);
  .span {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 60%;
    width: 60%;
    height: 80%;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/3323163/pexels-photo-3323163.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  }
  .circle{
    display: none;
  }
  .container {
    h1 {
      opacity: 0;
    }
  }

  .container2 {
    .films {
      h1 {
        opacity: 0;
      }
    }
  }
}

.backgroundFilm {
  transition: all 1s ease-in-out;
  position: relative;
  background-color: rgb(213, 213, 36);
  .span {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 60%;
    width: 60%;
    height: 80%;
    background-size: cover;

    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  }
  .circle{
    display: none;
  }
  .container {
    h1 {
      opacity: 0;
    }
  }

  .container2 {
    .project {
      h1 {
        opacity: 0;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
 
  .Welcome {
    .container{
      h1{
        font-size: 60px;
      }
    }
 .container2{
 
h1{
  font-size: 60px;
}
 }
 .span{
  position: absolute;
  top:50%;
  width: 70%;
  height: 70%;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
} }
  }



    @media screen and (max-width: 812px) {
      .Welcome {
        .banner{
          .circle{
            position: absolute;
            right: 46px;
          }
        }
        
        .container{
          h1{
            font-size: 20px;
          }
        }
        .container2{
        
       h1{
         font-size: 20px;
       }
        } 
      video{
        width: 300px;
        height:250px;
      }
    .span{
      position: absolute;
      top:50%;
      width: 70%;
      height: 70%;
      object-fit: contain;
      background-size: contain;
      background-repeat: no-repeat;
    }}

    }