.Aside{
    height: 100vh;
    background-color: rgb(196, 196, 196);
    font-weight: bolder;
    position: relative;
    .syndication{
        max-width: 500px;
        padding-top: 100px;
        p{
            font-size: 30px;
            color:#936CD2; 
        }

    }
    h1{
        color:#936CD2;
        font-size: 50px;  
    }
 .Social{
text-align: end;
margin-top: 100px;
p{
    font-size: 30px;
    color:#936CD2; 
}
 }
 .indexBack{
    position: absolute;
    bottom:0;
    a{
        color:#936CD2;
        font-size: 30px;  
        text-decoration: none;
    }
   

 }
}